include LICENSE.txt README.md CHANGELOG.md requirements*.txt
recursive-include src/setting *.json *.txt
recursive-include src/gui_icons *.svg
recursive-include src/test *.py
recursive-include scripts *.py

